<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
        <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/chart.js@2.9.3/dist/Chart.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/chartjs-chart-geo@1.1.2/build/Chart.Geo.min.js"></script>
        
        <link rel="stylesheet" href="/deps/explore_style.css"></style>
        <script src="/deps/force-graph.min.js"></script>
        <!-- Set id so script knows where to find model data -->
        <script>const ID = "{{ id }}";</script>
        <script src="/deps/graph_ui.js"></script>
        <script src="/deps/explore_ui.js"></script>
        <title>Graph Explorer</title>
    </head>

    <body>
        <div id="graph"></div>
        <div id="impression_explorer" class="container">
            <div class="row">
                <h5 class="mx-auto font-weight-bold">Demographic Impression Data</h5>
            </div>
            <div class="row chart">
                <canvas id="demographic_explorer_chart"></canvas>
            </div>
            <div class="row">
                <h5 class="mx-auto font-weight-bold">Region Impression Data</h5>
            </div>
            <div class="row chart">
                <canvas id="region_explorer_chart"></canvas>
            </div>
        </div>
        <div id="docs">
            <div class="container">
                <div class="row">
                    <button type="button" class="btn btn-primary col-6" id="select_word_button" disabled>Loading data...</button>
                    <button type="button" class="btn btn-secondary col-6" id="alternate_explore" disabled>Loading data...</button>
                </div>
                <div class="row">
                    <ul id="doc_data">
                        <li>Click the button above to start exploring words in the dataset!</li>
                    </ul>
                </div>
            </div>
        </div>
        <div id="veil"></div>
        <div id="select_word" class="card">
            <div class="card-body">
                <h3 class="card-title text-center">Explore a Word</h3>
                <div class="card-body">
                    <div class="container">
                        <div class="alert alert-danger" role="alert" style="display:none" id="select_word_error">Sorry, that word was not seen in the dataset. Try using one of the suggested words or try exploring another word. Note that words must be in their "base form" (convert plural nouns to their singular form or converting verbs to their present tense).</div>
                        <div class="row">
                            <h4>Here are some suggestions:</h4>
                            <ul id="suggested_words" class="list-group">
                                
                            </ul>
                        </div>
                        <div class="row input-group">
                            <input type="text" class="form-control" id="input_word">
                            <button type="button" class="btn btn-primary" id="submit_word">Explore!</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div id="stats_modal" class="card">
            <div class="card-body">
                <h3 class="card-title text-center">Ad Stats</h3>
                <div class="card-body">
                    <div class="container">
                        <div class="row">
                            <h5 class="mx-auto font-weight-bold">Text</h5>
                        </div>
                        <div class="row">
                            <p class="font-italic" id="doc_text"></p>
                        </div>
                        <div class="row">
                            <h5 class="mx-auto font-weight-bold">Demographic Impression Data</h5>
                        </div>
                        <div class="row chart">
                            <canvas id="demographic_chart"></canvas>
                        </div>
                        <div class="row">
                            <h5 class="mx-auto font-weight-bold">Region Impression Data</h5>
                        </div>
                        <div class="row chart">
                            <canvas id="us_choropleth"></canvas>
                        </div>
                        <div class="row">
                            <h5 class="mx-auto font-weight-bold">Similar Ads</h5>
                        </div>
                        <div class="row">
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th scope="col">Rank</th>
                                        <th scope="col">TFIDF</th>
                                        <th scope="col">LSI</th>
                                        <th scope="col">DOC2VEC</th>
                                    </tr>
                                </thead>    
                                <tbody id="similar_docs_table">

                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>
